@font-face {  
  font-family: 'SFUIText-Bold';
  src: url('../font/SFUIText-Bold.ttf');  
}

@font-face {
  font-family: 'Montserrat Semi Bold';
  src: url('../font/Montserrat-Semi-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../font/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../font/Roboto-Regular.ttf');
}

body {
  margin: 0;
  background: #F7F8FA 0% 0% no-repeat padding-box;
}

.home-page {       
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;  
  align-items: center;
  padding-left: 12%;
  padding-right: 12%;
  overflow: hidden;
  padding-top: 60px;    
}

.modal-background {  
  display: flex;    
  transition: opacity 0.4s ease-in-out;    
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;    
  width: 100%;
  height: 100%;       
  z-index: 1;
  background: #00000076 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 13px #000000;
  opacity: 1;    
}

.modal-inner {    
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  padding-left: 22px;    
  padding-right: 20px;    
  min-width: 256px;
  min-height: 380px;
  width: 437px;
  height: 448px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: auto;
  height: 100%;    
}

.modal-body-children {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  height: 95px;
  margin-bottom: 20px;   
}
  
.modal-body-text {
  flex-direction: column;    
  flex: 3;
  margin-left: 15px;
}

.modal-body-text-title {
  display: flex;
  align-items: center;
  height: 15px;
}

.modal-body-text-title img {
  width: 15px;
  height: 14px;
  margin-left: 5px;
}

.modal-body-text-description {
  margin: 0px;
  margin-top: 15px;
}

.card {
  margin-left: 10px
}
  
.modal-body-image {  
  min-width: 93px;
  min-height: 93px;
  max-width: 93px;
  max-height: 93px;
  flex: 1;
}
  
.modal-body-image img {
  display: block;    
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0); 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

.colum-detail {
  flex-direction: column;    
  flex: 1;
  margin-left: 50px;
}

@media (max-width: 600px) {
  .colum-detail {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.image-detail {  
  width: 545px;
  height: 838px;
  max-width: 545px;
  max-height: 838px;
  min-width: 345px;
  flex: 1;
}

.image-detail img {
  display: block;    
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background: white;
  color: #505050;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.01);    
}

.navbar-title {
  display: flex;
  align-items: center;  
  margin-right: auto;  
  padding: 15px;
  width: 100%;
}

.navbar-item {
  padding: 15px;  
}

.navbar-item img {
  cursor: pointer;
}

.input-icono {
  display: flex;
  padding-left: 28px;
  height: 30px;
  background-image: url('../img/search_icon.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  width: 100%;
}

.input-icono input {
  width: 100%;
  font-size: 0.9em;
  border: none;  
  opacity: 0.5;  
}

.input-icono input:focus {
  outline: none;
  font-family: 'Roboto Regular';
  font-size: 20px;
  line-height: 24px;
  color: #505050;
  opacity: 1;
}

/* Spinner 3Balls Scale */
.sp {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 20%;    
}
.container > .sp {
  margin: 20px auto;
}
.sp-3balls, .sp-3balls:before, .sp-3balls:after {
    border-radius: 50%;
    background-color: #000;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    display: inline-block;
}
.sp-3balls {
    position: relative;
    background-color: rgba(#000,1);
    opacity: 1;
    -webkit-animation: spScaleAlpha 1s infinite linear;
    animation: spScaleAlpha 1s infinite linear;
}
.sp-3balls:before, .sp-3balls:after {
    content: '';
    position: relative;
    opacity: 0.25;
}
.sp-3balls:before {
    left: 30px;
    top: 0px;
    -webkit-animation: spScaleAlphaBefore 1s infinite linear;
    animation: spScaleAlphaBefore 1s infinite linear;
}
.sp-3balls:after {
    left: -30px;
    top: -23px;
    -webkit-animation: spScaleAlphaAfter 1s infinite linear;
    animation: spScaleAlphaAfter 1s infinite linear;
}
@-webkit-keyframes spScaleAlpha {
    0% { opacity: 1; }
    33% { opacity: 0.25; }
    66% { opacity: 0.25; }
    100% { opacity: 1; }
}
@keyframes spScaleAlpha {
    0% { opacity: 1; }
    33% {  opacity: 0.25; }
    66% { opacity: 0.25; }
    100% {  opacity: 1; }
}
@-webkit-keyframes spScaleAlphaBefore {
    0% { opacity: 0.25; }
    33% { opacity: 1; }
    66% { opacity: 0.25; }
}
@keyframes spScaleAlphaBefore {
    0% { opacity: 0.25; }
    33% { opacity: 1; }
    66% { opacity: 0.25; }
}
@-webkit-keyframes spScaleAlphaAfter {
    33% { opacity: 0.25; }
    66% { opacity: 1; }
    100% { opacity: 0.25; }
}
@keyframes spScaleAlphaAfter {
    33% { opacity: 0.25; }
    66% { opacity: 1; }
    100% { opacity: 0.25; }
}